{% extends "layouts/default.html" %}
{% block title %}BBS MENU{% endblock %}
{% block content %}
<div id="main">
  <h3> 現在の掲示板一覧 </h3>
  <ul >
    {% for board in board_list %}
    <a href="/boards/{{ board.id }}">{{ board.name }}</a><br />
    {% endfor %}
  </ul>

  <h3> 新規作成 </h3>
  <form action="/boards/create" method="post">
    <pre>
      板名：<input type="text" name="board[name]">
    </pre>
    <p>
      <input type="submit" value="送信する">
      <input type="reset" value="入力内容をリセットする">
    </p>
  </form>
</div>
{% endblock %}
