{% extends "layouts/default.html" %}
{% block title %}{{ thread.name }}{% endblock %}
{% block content %}
<div id="main">
  <h3> {{ thread.name }} </h3>

  <dl align="left">
    {% for message in message_list %}
    <dt>
      {{ forloop.counter }}：
      <a href="mailto:{{ message.mailaddress }}"><b>{{ message.name }}</b></a>：
      {{ message.timestamp | datetime: (:year "/" :month "/" :day " " :hour ":" :min ":" :sec "." :msec) }}
      ID:{{ message.ipaddress | slice: (0 . 5) }}
    </dt>
    <dd><pre>{{ message.body }}</pre></dd><br />
    {% endfor %}
  </dl>

  <hr>

  <form action="/messages/create" method="post">
    <p hidden>
      スレッドＩＤ：<input type="hidden" name="message[threadid]" value="{{ thread.id }}">
    </p>
    <pre>
      <input type="submit" value="書き込む"> 名前：<input type="text" name="message[name]"> E-mail：<input type="text" name="message[mailaddress]">
      <textarea name="message[body]" rows="4" cols="70" /></textarea>
   </pre>
  </form>
</div>
{% endblock %}
