{% extends "layouts/default.html" %}
{% block title %}{{ thread.name }}{% endblock %}
{% block content %}
<div id="main">
  <h3> 現在の掲示板一覧 </h3>
  <ul >
    {% for message in message_list %}
    <pre>
      名前：{{ message.name }}  メール：{{ message.mailaddress }}
      本文：
      {{ message.message }}
    </pre>
    {% endfor %}
  </ul>

  <h3> 新規作成 </h3>
  <form action="/messages/create" method="post">
    <pre>
      名前：<input type="text" name="message[name]"> メール：<input type="text" name="message[mailaddress]">
      本文：
      <textarea name="message[message]" rows="4" cols="40">ここに発言を記載してください</textarea>
    </pre>
    <p>
      <input type="submit" value="送信する">
      <input type="reset" value="入力内容をリセットする">
    </p>
  </form>
</div>
{% endblock %}
