{% extends "layouts/default.html" %}
{% block title %}{{ board.name }}{% endblock %}
{% block content %}
<div id="main">
  <h3> 現在のスレッド一覧 </h3>
  <ul >
    {% for thread in thread_list %}
    <a href="/threads/{{ thread.id }}">{{ thread.name }}</a><br />
    {% endfor %}
  </ul>

  <h3> 新規作成 </h3>
  <form action="/threads/create" method="post">
    <p hidden>
      板ＩＤ：<input type="hidden" name="thread[boardid]" value="{{ board.id }}">
    </p>
    <pre>
      スレッド名：<input type="text" name="thread[name]">
    </pre>
    <p>
      <input type="submit" value="送信する">
      <input type="reset" value="入力内容をリセットする">
    </p>
  </form>
</div>
{% endblock %}
